mixin head(pageName)
	meta(charset="UTF-8")
	meta( name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
	link(rel= "shortcut icon", href="./img/fevicon.ico" type="image/x-icon")
	if(pageName != "")
		title=pageName
	else
		title Home
	meta(name= "description", content= "")
	meta(name= "keywords", content= "")

	link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet")
	//- Main Css
	//- link(rel= "stylesheet", href= "./vendor/prismjs/themes/prism.css")
	link(rel= "stylesheet", href= "./css/main.css")

	//- script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js")

	//- Font awesome css
	link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
