mixin script(page_name)
  // Common scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
  script(src="js/plugins/jquery.min.js")
  //- script(src="js/plugins/zepto.min.js")
  script(src="js/plugins/bootstrap.bundle.min.js")
  script(src="js/plugins/prism.js")
  script(src="js/plugins/clipboard.min.js")

  if(page_name==="datepicker")
    script(rel="text/javascript" src="js/plugins/bootstrap-datepicker.min.js")

  script(src="js/main.js")