.py-2.header.bg-gradient-primary
  .container-fluid
    .row
      .col-12.col-md-9.py-md-3.pl-md-4
        h1.text-white.text-uppercase.m-0.ls-3 Components
  
.py-3
  .container-fluid
    .row
      .col-12.col-md-9.py-md-3.pl-md-4.ct-content
        include ../../components/alert.pug