h2 Single datepicker
.nav-wrapper
  ul.nav.tabs.flex-column.flex-md-row(role='tablist')
    li.nav-item
      a#result-tab.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab', href='#result', role='tab', aria-controls='result', aria-selected='true')
        | Result
    li.nav-item
      a#code-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#code', role='tab', aria-controls='code', aria-selected='false')
        | Code

  .tab-content
    #result.tab-pane.result-tab.fade.show.active(role='tabpanel', aria-labelledby='result-tab')
      .card.shadow
        .card-body
          .form-group
            .input-group.input-group-alternative
              .input-group-prepend
                span.input-group-text
                  i.ni.ni-calendar-grid-58
              input.form-control.datepicker(placeholder='Select date', type='text', value='06/20/2018')

    #code.tab-pane.code-tab.fade(role='tabpanel', aria-labelledby='code-tab')
      
      figure.highlight
        pre.language-html
          code.btn-icon-clipboard.
            .form-group
               .input-group.input-group-alternative
                 .input-group-prepend
                   span.input-group-text
                     i.ni.ni-calendar-grid-58
                 input.form-control.datepicker(placeholder='Select date', type='text', value='06/20/2018')
h2 Range datepicker
.nav-wrapper
  ul.nav.tabs.flex-column.flex-md-row(role='tablist')
    li.nav-item
      a#range-result-tab.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab', href='#range-result-2', role='tab', aria-controls='result-2', aria-selected='true')
        | Result
    li.nav-item
      a#range-code-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#range-code', role='tab', aria-controls='code', aria-selected='false')
        | Code

  .tab-content
    #range-result-2.tab-pane.result-tab.fade.show.active(role='tabpanel', aria-labelledby='range-result-tab')
      .card.shadow
        .card-body
          .input-daterange.datepicker.row.align-items-center
            .col
              .form-group
                .input-group.input-group-alternative
                  .input-group-prepend
                    span.input-group-text
                      i.ni.ni-calendar-grid-58
                  input.form-control(placeholder='Start date', type='text', value='06/18/2018')
            .col
              .form-group
                .input-group.input-group-alternative
                  .input-group-prepend
                    span.input-group-text
                      i.ni.ni-calendar-grid-58
                  input.form-control(placeholder='End date', type='text', value='06/22/2018')

    #range-code.tab-pane.code-tab.fade(role='tabpanel', aria-labelledby='range-code-tab')
      figure.highlight
        pre.language-html
          code.language-html
            | .input-daterange.datepicker.row.align-items-center
            |    .col
            |      .form-group
            |        .input-group.input-group-alternative
            |          .input-group-prepend
            |            span.input-group-text
            |              i.ni.ni-calendar-grid-58
            |          input.form-control(placeholder='Start date', type='text', value='06/18/2018')
            |    .col
            |      .form-group
            |        .input-group.input-group-alternative
            |          .input-group-prepend
            |            span.input-group-text
            |              i.ni.ni-calendar-grid-58
            |          input.form-control(placeholder='End date', type='text', value='06/22/2018')

            
            
h2 Usage
p In order to use this plugin on your page you will need to include the following script in the the page’s footer:
pre.language-css
  code.language-css
    | (script src="/js/plugins/bootstrap-datepicker.min.js")

h2.mt-4 Initialization
p Add the <strong>.datepicker</strong> class on the text input that you want to become a datepicker.


