mixin sidebar(title)

  // Sidenav
  nav#sidenav-main.navbar.navbar-vertical.fixed-left.navbar-expand-md.navbar-light.bg-white
    .container-fluid
      // Toggler
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#sidenav-collapse-main', aria-controls='sidenav-main', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      // Brand
      a.navbar-brand.pt-0(href='./index.html')
        img.navbar-brand-img(src='./img/brand/logo.svg', alt='...')
        p.h5.text-uppercase.mt-3.d-none.d-md-block Knowledge Center
      
          
      // Collapse
      #sidenav-collapse-main.collapse.navbar-collapse
        // Collapse header
        .navbar-collapse-header.d-md-none
          .row
            .col-6.collapse-brand
              a(href='./index.html')
                img(src='./img/brand/logo.svg')
            .col-6.collapse-close
              button.navbar-toggler(type='button', data-toggle='collapse', data-target='#sidenav-collapse-main', aria-controls='sidenav-main', aria-expanded='false', aria-label='Toggle sidenav')
                span
                span
        // Navigation
        ul.navbar-nav
          if title == "index"
            li.nav-item
              a.nav-link.active(href="index.html")
                i.fa.fa-project-diagram
                | FED Process
          else
            li.nav-item
              a.nav-link(href="index.html")
                i.fa.fa-project-diagram
                | FED Process

          if title == "component"
            li.nav-item
              a.nav-link.active(href='#navbar-component', data-toggle='collapse', role='button', aria-expanded='false', aria-controls='navbar-component')
                i.fa.fa-server
                | Components
              #navbar-component.collapse(style='')
                ul.nav.nav-sm.flex-column
                  li.nav-item
                    a.nav-link(href='step.html') Step
                  li.nav-item
                    a.nav-link(href='datepicker.html') Datepicker
                  li.nav-item
                    a.nav-link(href='alert.html') Alert
          else
            li.nav-item
              a.nav-link(href='#navbar-component', data-toggle='collapse', role='button', aria-expanded='false', aria-controls='navbar-component')
                i.fa.fa-server
                | Components
              #navbar-component.collapse(style='')
                ul.nav.nav-sm.flex-column
                  li.nav-item
                    a.nav-link(href='step.html') Step
                  li.nav-item
                    a.nav-link(href='datepicker.html') Datepicker
                  li.nav-item
                    a.nav-link(href='alert.html') Alert
          
          if title == "resource"
            li.nav-item
              a.nav-link.active(href='#navbar-resources', data-toggle='collapse', role='button', aria-expanded='false', aria-controls='navbar-resources')
                i.fa.fa-external-link-square-alt
                | Resources
              #navbar-resources.collapse(style='')
                ul.nav.nav-sm.flex-column
                  li.nav-item
                    a.nav-link(href='react.html') Learning React
                  li.nav-item
                    a.nav-link(href='external-links.html') External links
          else
            li.nav-item
              a.nav-link(href='#navbar-resources', data-toggle='collapse', role='button', aria-expanded='false', aria-controls='navbar-resources')
                i.fa.fa-external-link-square-alt
                | Resources
              #navbar-resources.collapse(style='')
                ul.nav.nav-sm.flex-column
                  li.nav-item
                    a.nav-link(href='react.html') Learning React
                  li.nav-item
                    a.nav-link(href='external-links.html') External links
