.py-2.header.bg-gradient-primary
  .container-fluid
    .row
      .col-12.col-md-9.py-md-3.pl-md-4
        h1.text-white.m-0.ls-3 External Resources
        p.text-white-50.m-0 Refer to these links to understand how to structure your code
  
.py-3
  .container-fluid
    .row
      .col-12.col-md-9.py-md-3.pl-md-4.ct-content
        h3 Template
        ul
          li.mb-3
            a(href="http://projects.lollypop.design/docs/" target="_blank" rel="noopener") Project docs Template
          li.mb-3
            a(href="http://projects.lollypop.design/docs/docs.zip" target="_blank" rel="noopener") Download docs template
        h3 CSS
        ul
          li.mb-3
            a(href="https://sass-lang.com/guide" target="_blank" rel="noopener") Learn Sass
          li.mb-3
            a(href="https://en.bem.info/methodology/css/" target="_blank" rel="noopener") BEM for CSS
        h3 Javascript
        ul  
          li.mb-3
            a(href="https://www.thinkful.com/learn/javascript-best-practices-1/" target="_blank" rel="noopener") Javascript Best Practices
          li.mb-3
            a(href="https://github.com/rwaldron/idiomatic.js" target="_blank" rel="noopener") Principles of Writing Consistent, Idiomatic JavaScript
          li.mb-3
            a(href="https://jstherightway.org/#js-code-style" target="_blank" rel="noopener") JavaScript The Right Way