<!DOCTYPE html>
html(lang="en")
  - var pageName = "Datepicker"
  - var page_name= "datepicker"
  head
    include pug/base/head.pug
    +head(pageName)
  body    
    include pug/components/sidebar.pug
    +sidebar('component')
    main.main-content
      .py-2.header.bg-gradient-primary
        .container-fluid
          .row
            .col-12.col-md-9.py-md-3.pl-md-4
              h1.text-white.m-0.ls-3 Datepicker
        
      .py-3
        .container-fluid
          .row
            .col-12.col-md-9.py-md-3.pl-md-4.ct-content
              include ./pug/components/datepicker.pug

    include pug/base/footer.pug
    include pug/base/scripts.pug
    +script(page_name)