<!DOCTYPE html>
html(lang="en")
  - var pageName = "External links"
  - var page_name= "home"
  head
    include pug/base/head.pug
    +head(pageName)
  body    
    include pug/components/sidebar.pug
    +sidebar('resource')
    main.main-content
      include pug/modules/external-links/main.pug

    include pug/base/footer.pug
    include pug/base/scripts.pug
    +script(page_name)