.py-4.header.bg-gradient-primary
  .container-fluid
    .row
      .col-12.col-md-9.py-md-3.pl-md-4
        h1.text-white.text-uppercase.m-0.ls-3 Getting started
  
.py-3
  .container-fluid
    .row
      .toc.d-none.d-xl-block
        ul.section-nav
          li.toc-entry
            a(href='#responsive') Responsive development
          li.toc-entry
            a(href='#best-practices') Best Practices
          li.toc-entry
            a(href='#accessibility') Accessibility
      
        //- img.img-fluid(src="./img/process/process-diagram.png", alt="Our process")
      .col-12.col-md-9.py-md-3.pl-md-4.ct-content
        h1 Folder structure
        
        
        #responsive
          
        #best-practices
          //- include ./best-practices.pug
        #accessibility 
          //- include ./accessibility.pug